/* Final */
.w-1-3 {
	width: 32.6%;
}
.w-1-2 {
	width: 47.8%;
}
.w-85pr {
	width: 85%;
}
.w-80pr {
	width: 79%;
}
.w-75pr {
	width: 75%;
}
.w-74pr {
	width: 74%;
}
.w-70pr {
	width: 70%;
}
.w-69pr {
	width: 69%;
}
.w-68pr {
	width: 68%;
}
.w-67pr {
	width: 67%;
}
.w-65pr {
	width: 65%;
}
.w-60pr {
	width: 60% !important;
}
.w-50pr {
	width: 49% !important;
}
.w-40pr {
	width: 40% !important;
}
.w-35pr {
	width: 35% !important;
}
.w-30pr {
	width: 30%;
}
.w-25pr {
	width: 25%;
}
.w-20pr {
	width: 20%;
}
.w-15pr {
	width: 15%;
}
.w-100 {
	width: 100px !important;
}
.w100 {
	width: 100px !important;
}
.w200 {
	width: 200px !important;
}
.w250 {
	width: 250px !important;
}
.w-full  {
	width: 100% !important;
}
.w-auto {
	width: auto;
}
.width-small {
	width: 100px;
}
.width-medium {
	width:  200px;
}
.width-large {
	width:  300px;
}
.h-full {
	height: 100%;
}
.h-50 {
	height: 50px;
}
.h-25 {
	height: 25px;
}
.h-15 {
	height: 15px;
}
.m-0 {
	margin:  0 !important;
}
.m-0-5 {
	margin: 0 5px !important;
}
.m-0-10 {
	margin: 0 10px !important;
}
.m--5-10-0 {
	margin: -5px 10px 0;
}
.mb-0 {
	margin-bottom: 0;
}
.mr-5 {
	margin-right: 5px;
}
.m-0-1-0-0pr {
	margin:  0 1% 0 0 !important;
}
.p-0 {
	padding: 0 !important;
}
.p-5 {
	padding: 5px !important;
}
.pl-5 {
	padding-left: 5px !important;
}
.p-5-0 {
	padding: 5px 0 !important;
}
.p-10 {
	padding: 10px !important;
}
.p-10-0 {
	padding: 10px 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pl-10 {
	padding-left: 10px !important;
}

.fr {
	float:  right;
}
.fl {
	float:  left !important;
}
.fn {
	float:  none !important;
}
.m-0-1pr {
	margin: 0 1%;
}
.m-5 {
	margin: 5px;
}
.ml-0 {
	margin-left: 0 !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mr-0 {
	margin-right:  0 !important;
}
.mr-20 {
	margin-right:  20px !important;
}
.mr-10 {
	margin-right:  10px !important;
}
.ml-10 {
	margin-left:  10px !important;
}
.m-0-auto {
	margin: 0 auto;
}
.m-0-5 {
	margin: 0 5px;
}
.m-5-0 {
	margin: 5px 0;
}
.m-10-0 {
	margin: 10px 0 !important;
}
.m-10-5-10-0 {
	margin: 10px 5px 10px 0 !important;
}
.m-15-0 {
	margin: 15px 0 !important;
}
.m-20-0 {
	margin: 20px 0;
}
.mb-10 {
	margin-bottom: 10px;
}
.ta-left {
	text-align:  left;
}
.ta-center {
	text-align:  center;
}
.ta-right {
	text-align:  right;
}
.va-top {
	vertical-align:  top;
}
.display-table {
	display: table !important;
}
.display-block {
	display: block !important;
}
.display-none {
	display: none !important;
}
.pos-none {
	position: static !important;
}
.pos-rel {
	position: relative !important;
}
.pos-abs {
	position: absolute !important;
}
.l-25 {
	left: 25px;
}

/* Color */
.red {
	color: #fff !important;
	border: 1px solid #c80c2a;
	background: #cc0c30;
	background-image: -ms-linear-gradient(top, #cc0c30 50%, #bc0d0d 50%) !important;
	background-image: -moz-linear-gradient(top, #cc0c30 50%, #bc0d0d 50%) !important;
	background-image: -o-linear-gradient(top, #cc0c30 50%, #ffffff 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #cc0c30), color-stop(0.5, #bc0d0d)) !important;
	background-image: -webkit-linear-gradient(top, #cc0c30 50%, #bc0d0d 50%) !important;
	background-image: linear-gradient(top, #cc0c30 50%, #bc0d0d 50%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0c30', endColorstr='#bc0d0d') !important;
}
.green {
	color: #fff;
	border: 1px solid #96BC44;
	background: #9FC748;
	background-image: -ms-linear-gradient(top, #9FC748 50%, #96BC44 50%) !important;
	background-image: -moz-linear-gradient(top, #9FC748 50%, #96BC44 50%) !important;
	background-image: -o-linear-gradient(top, #9FC748 50%, #ffffff 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #9FC748), color-stop(0.5, #96BC44)) !important;
	background-image: -webkit-linear-gradient(top, #9FC748 50%, #96BC44 50%) !important;
	background-image: linear-gradient(top, #9FC748 50%, #96BC44 50%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9FC748', endColorstr='#96BC44') !important;
}
.blue {
	color: #fff;
	border: 1px solid #0a56aa;
	background: #0c70c5;
	background-image: -ms-linear-gradient(top, #0c70c5 50%, #0a56aa 50%) !important;
	background-image: -moz-linear-gradient(top, #0c70c5 50%, #0a56aa 50%) !important;
	background-image: -o-linear-gradient(top, #0c70c5 50%, #0a56aa 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #0c70c5), color-stop(0.5, #0a56aa)) !important;
	background-image: -webkit-linear-gradient(top, #0c70c5 50%, #0a56aa 50%) !important;
	background-image: linear-gradient(top, #0c70c5 50%, #0a56aa 50%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c70c5', endColorstr='#0a56aa') !important;
}
.white {
	color: #666 !important;
	border: 1px solid #ccc;
	background: #ffffff;
	background-image: -ms-linear-gradient(top, #ffffff 50%, #eeeeee 50%) !important;
	background-image: -moz-linear-gradient(top, #ffffff 50%, #eeeeee 50%) !important;
	background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #ffffff), color-stop(0.5, #eeeeee)) !important;
	background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 50%) !important;
	background-image: linear-gradient(top, #ffffff 50%, #eeeeee 50%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee') !important;
}
.white * {
	color: #666 !important;
}
.yellow {
	border-radius: 5px;
	color: #000 !important;
	border: 1px solid #ceb802;
	background: #fcdf45;
	background-image: -ms-linear-gradient(top, #fcdf45 50%, #dacb00 50%) !important;
	background-image: -moz-linear-gradient(top, #fcdf45 50%, #dacb00 50%) !important;
	background-image: -o-linear-gradient(top, #fcdf45 50%, #dacb00 50%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fcdf45), color-stop(0.5, #dacb00)) !important;
	background-image: -webkit-linear-gradient(top, #fcdf45 50%, #dacb00 50%) !important;
	background-image: linear-gradient(top, #fcdf45 50%, #dacb00 50%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcdf45', endColorstr='#dacb00') !important;
}
.yellow * {
	color: #000 !important;
}
.bg-blue {
	background: #0c70c5;
	color: white;
}
.bg-blue td {
	color: white;
}
.bg-grey {
	background: #eee;
}
.tb-black {
	display: table;
	background: #333;
	overflow-x: auto;
	border: none;
}
.tb-black * {
	border: 1px solid #444;
	color: #eee;
	padding: 7px 5px;
}
.wp-nowrap {
	white-space: nowrap;
}

/* Text color */
.text-red, .text-red * {
	color: #cc0c30 !important;
}
.text-grey {
	color: #999 !important;
}
.text-bluegrey {
	color: #526b75 !important;
}
.bold {
	font-weight: 700;
	line-height: 26px;
}
.checkbox {
	min-width: 120px;
}
h1 {
	color: #0c70c5;
	padding: 10px 0;
	margin: 13px 0;
	text-align: center;
}
h2 {
	color: #0c70c5;
	margin: 5px 0;
	padding: 5px 0;
	display: inline-block;
}
h3 {
	color: #0c70c5;
	margin: 5px 0;
	font-size: 18px;
}
p {
	display: table;
	margin: 5px 0 10px 0;
}
legend {
	font-weight: 700;
	line-height: 20px;
	color: #999;
}
.b-0 {
	border: 0 !important;
}
.b-1 {
	border: 1px solid #eee;
}
.bt-1 {
	border-top: 1px solid #eee;
}
.br-1 {
	border-right: 1px solid #eee;
}
.bb-1 {
	border-bottom: 1px solid #eee;
}
body * {
	transition: 1s;
}
table tr th[rowspan] {
	border-right: 1px solid #f5f5f5;
	vertical-align: top;
}
.item-fl>* {
	float: left;
}
/* Responsible */
@media (max-width: 1200px) {
	.sites #awo-right-block [class*='-box'], .sites .slide-bar [class*='-box'] {
		width:  100% !important;
		max-width: none !important;
	}
	.sites .awo-logo-square-box {
		display: block;
	}
	.sites .awo-logo-rectangle-box {
		display: none;
	}
}
@media (max-width: 760px) {
	.tb-black {
		display: block;
	}
}
@media (max-width: 640px) {
	[class*='w-'] {
		width: 100% !important;
		max-width: none !important;
	}
	[class*='h-'] {
		height: 100%;
		height:  auto !important;
		max-height: none!important;
	}
	.fr, .fl {
		float: none;
	}
}